<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card border-success">
                    <img src="https://images.unsplash.com/photo-1503265192943-9d7eea6fc77a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1367&q=80"
                        alt="" class="card-img-top">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form action="/login" method="POST" class="validatedForm" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus
                                    required>
                                <div class=" valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-success">Login</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>